.section-profile{
    width: 25%;
    float: left;
    min-height: 100vh;
}
.profile-holder{
    background-position: center;
    background-image: linear-gradient(
        rgba(20, 119, 105, .9), 
        rgba(20, 119, 105, 1)
      ), url(./BGFB.jpg);
    background-size: cover;
    color:#eef7ff;    
    overflow: hidden;
    position: fixed;
    max-width: 380px;
    min-height: 100vh;
}
@media (max-width:1024px){
    .section-profile{
        width: 100%;
        min-height: auto;
    }
    .profile-holder{
        position: unset;
        width: 100%;
        max-width: unset;
        min-height: unset;
    }    
}
.first-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    text-align: center;
}
.profile-info h1,
.profile-info p{
    margin: 0;
}
.profile-info h1{
    margin-top: 17px;
}
.profile-info p{
    margin-top: 7px;
}
.img-holder{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
}
.img-holder img{
    width: 116%;
    margin-left: -10px;
}

.second-profile{
    padding: 0 30px;
    text-align: center;
}
.facts-list{
    font-size: 13px;
    text-align: left;
}
.facts-item{
    margin-bottom: 10px;
}


.third-profile{
    padding: 30px 50px;
}
.profile-icons{
    width: 150px;
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    box-pack: justify;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
}
.icon-link img{
    width: 32px;
}