.section-timeline{
    width: 70%;
    float: left;
    /* overflow: hidden; */
    padding: 16px 36px;
}
.timeline-heading{
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.timeline-subheading{
    margin: 10px 0 40px;
    font-size: 13px;
    font-style: italic;
    color: rgba(0,0,0,.45);
}